@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <footer style="
                       position:fixed;
                         bottom:0;
                       ">
            <a target="_blank" href="https://icons8.com/icon/16838/clock">Clock</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </footer>
    </main>
    
</div>        
